tile_buffer = 64

[webserver]
port = ":9090"

[cache]
type="file"             # cache type
basepath="/tmp/tegola"  # cache specific config

[[providers]]
name = "nidus"   # provider name is referenced from map layers
type = "mvt_postgis"        # the type of data provider. currently only supports postgis
#uri = "postgres://tegola:supersecret@localhost:5432/tegola?sslmode=prefer" # PostGIS connection string (required)
uri = "postgres://tegola:@localhost:/nidus-sync?host=/var/run/postgresql&sslmode=disable" # PostGIS connection string (required)
srid = 4326             # The default srid for this provider. If not provided it will be WebMercator (3857)

  [[providers.layers]]
  name = "mosquito_source"
  geometry_fieldname = "geometry"
  geometry_type="polygon"
  id_fieldname = "id"
  sql = "SELECT ST_AsMVTGeom(geometry, !BBOX!) AS geometry, id, cell, count_, resolution FROM h3_aggregation WHERE type_ = 'MosquitoSource' AND geometry && !BBOX! !PARAM!"

  [[providers.layers]]
  name = "service_request"
  geometry_fieldname = "geometry"
  geometry_type="polygon"
  id_fieldname = "id"
  sql = "SELECT ST_AsMVTGeom(geometry, !BBOX!) AS geometry, id, cell, count_, resolution FROM h3_aggregation WHERE type_ = 'ServiceRequest' AND geometry && !BBOX! !PARAM!"

  [[providers.layers]]
  name = "trap"
  geometry_fieldname = "geometry"
  geometry_type="polygon"
  id_fieldname = "id"
  sql = "SELECT ST_AsMVTGeom(geometry, !BBOX!) AS geometry, id, cell, count_, resolution FROM h3_aggregation WHERE type_ = 'Trap' AND geometry && !BBOX! !PARAM!"

[[providers]]
name = "mosquito"   # provider name is referenced from map layers
type = "mvt_postgis"        # the type of data provider. currently only supports postgis
#uri = "postgres://tegola:supersecret@localhost:5432/tegola?sslmode=prefer" # PostGIS connection string (required)
uri = "postgres://tegola:@localhost:/nidus-sync?host=/var/run/postgresql&sslmode=disable" # PostGIS connection string (required)
srid = 4326             # The default srid for this provider. If not provided it will be WebMercator (3857)

  [[providers.layers]]
  name = "district"
  geometry_fieldname = "geom_4326"
  geometry_type="polygon"
  id_fieldname = "gid"
  sql = "SELECT agency, ST_AsMVTGeom(geom_4326, !BBOX!) as geom_4326, gid, regionid FROM import.district WHERE geom_4326 && !BBOX!"

  [[providers.layers]]
  name = "report_location"
  geometry_fieldname = "location"
  geometry_type="point"
  id_fieldname = "id"
  sql = "SELECT address, created, id, ST_AsMVTGeom(location::geometry, !BBOX!) AS location, public_id, status, table_name FROM publicreport.report_location WHERE location && !BBOX!"

[[maps]]
name = "nidus"
center = [-119.175, 36.24, 11.0] # set the center of the map so the user is auto navigated to visalia

  [[maps.layers]]
  provider_layer = "nidus.mosquito_source"

  [[maps.layers]]
  provider_layer = "nidus.service_request"

  [[maps.layers]]
  provider_layer = "nidus.trap"

  [[maps.params]]
  name = "organization_id"
  token = "!PARAM!"
  type = "int"
  sql = "AND organization_id = ?"
  default_sql = "0"

[[maps]]
name = "mosquito"
center = [-119.175, 36.24, 11.0]

  [[maps.layers]]
  provider_layer = "mosquito.district"
  #min_zoom = 5
  #max_zoom = 20

  [[maps.layers]]
  provider_layer = "mosquito.report_location"
  #min_zoom = 5
  #max_zoom = 20
